%img{:src => "/images/ospro.png", :class => "ospro img-responsive"}
.row
  .col-md-9
    #content
      %article.text-justify(role="main")
        ~ @page.to_html(self)
        %section.pages
          = article_summaries(@page.pages)
        - unless @page.articles.empty?
          %section.articles
            %header
              %h1= articles_heading
            = article_summaries(@page.articles)
        = haml :page_meta, :layout => false, :locals => { :page => @page }
      = haml :comments, :layout => false
  .col-md-3
    = haml :sidebar, :layout => false
